{% extends "base.html" %}
{% block script %}
    <meta http-equiv="refresh" content="60" >
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
        google.setOnLoadCallback(drawDashCharts);

        function drawDashCharts() {
            var data = google.visualization.arrayToDataTable([
                ['Validity', 'Count'],
                ['Not Found', {{ stats.num_NotFound }} ],
                ['Valid', {{ stats.num_Valid }} ],
                ['Invalid Length', {{ stats.num_InvalidLength }} ],
                ['Invalid AS', {{ stats.num_InvalidAS }} ]
            ]);

            var options = {
                legend:{position: 'top'},
                enableInteractivity: false,
                slices: {
                    0: { color: '#33a02c' },
                    1: { color: '#ff7f00', offset: 0.25 },
                    2: { color: '#e31a1c' },
                    3: { color: '#888888' }
                },
                is3D: true,
                chartArea:{left:'5%',top:'5%',width:'90%',height:'95%'},
                pieHole: 0.6
            };

            var dchart = new google.visualization.PieChart(document.getElementById('dChart'));
            dchart.draw(data, options);
        }
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Dashboard</h1>
                        <p>
                            <span class="pull-left">Timestamp: <span class="label label-primary">{{ stats.latest_ts }}</span></span>
                            <span class="middle">Prefix Origins: <span class="label label-primary">{{ stats.num_NotFound + stats.num_Valid + stats.num_InvalidLength + stats.num_InvalidAS}}</span></span>
                            <span class="pull-right">BGP Source: <span class="label label-primary">{{ stats.source }}</span></span>
                        </p>
                        <hr>
                        <p>Overview on latest RPKI validation results of IP prefix to BGP origin AS association.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Absolute Validition States</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="clearfix lead list-group-item">
                                <span class="label label-default"># {{ stats.num_NotFound }}</span>
                                <span class="pull-right">Not Found</span>
                            </li>
                            <li class="clearfix lead list-group-item">
                                <span class="label label-success"># {{ stats.num_Valid }}</span>
                                <span class="pull-right">Valid</span>
                            </li>
                            <li class="clearfix lead list-group-item">
                                <span class="label label-warning"># {{ stats.num_InvalidLength }}</span>
                                <span class="pull-right">Invalid Length</span>
                            </li>
                            <li class="clearfix lead list-group-item">
                                <span class="label label-danger"># {{ stats.num_InvalidAS }}</span>
                                <span class="pull-right">Invalid AS</span>
                            </li>
                        </ul>
                    </div>
                </div> <!-- div panel -->
            </div> <!-- div col not found -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Relative Validition States</h3>
                    </div>
                    <div class="panel-body">
                        <div id="dChart"></div>
                    </div>
                </div> <!-- div panel -->
            </div> <!-- div col valid -->
        </div><!-- div row  -->
        <div class="row">
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>All known origins</h3>
                </div>
                <div class="panel-body">
                    <h4>Last 24 hours <span class="pull-right"><span class="label label-primary"># {{ stats.num_NotFound + stats.num_Valid + stats.num_InvalidAS + stats.num_InvalidLength }}</span></span></h4>
                    <div id="linechart_all"></div>
                </div>
            </div></div>
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Origins with ROA</h3>
                </div>
                <div class="panel-body">
                    <h4>Last 24 hours <span class="pull-right"><span class="label label-primary"># {{ stats.num_Valid + stats.num_InvalidAS + stats.num_InvalidLength }}</span></span></h4>
                    <div id="linechart_roa"></div>
                </div>
            </div></div>
        </div>
{% endblock %}
