{% extends "base.html" %}
{% block script %}
    <meta http-equiv="refresh" content="60" >
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var ldata_all = new google.visualization.DataTable();
        ldata_all.addColumn('datetime', 'Timestamp');
        ldata_all.addColumn('number', 'Valid');
        ldata_all.addColumn('number', 'Invalid Length');
        ldata_all.addColumn('number', 'Invalid AS');
        ldata_all.addColumn('number', 'Not Found');
        ldata_all_json = {{ stats.stats_all|tojson }}
        $.each(ldata_all_json, function(i,row) {
            ldata_all.addRow([
                (new Date(row.ts*1000)),
                parseInt(row.num_Valid),
                parseInt(row.num_InvalidLength),
                parseInt(row.num_InvalidAS),
                parseInt(row.num_NotFound)
            ]);
        });

        var lview_roa = new google.visualization.DataView(ldata_all);
        lview_roa.setColumns([0,1,2,3]); // skip column with NotFound

        var lopts_all = {
            hAxis:{format: 'yy/MM/dd\nHH:mm'},
            series: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' },
                3: { color: '#888888' }
            },
            legend:{position: 'top'},
            chartArea:{left:'15%',top:'10%',width:'80%',height:'70%'}
        };
        var lopts_roa = {
            hAxis:{format: 'yy/MM/dd\nHH:mm'},
            series: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' }
            },
            legend:{position: 'top'},
            chartArea:{left:'15%',top:'10%',width:'80%',height:'70%'}
        };

        var lchart_all = new google.visualization.LineChart(document.getElementById('linechart_all'));
        var lchart_roa = new google.visualization.LineChart(document.getElementById('linechart_roa'));

        lchart_all.draw(ldata_all, lopts_all);
        lchart_roa.draw(lview_roa, lopts_roa);

      }
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Dashboard</h1>
                        <p>Overview on latest RPKI validation results of IP prefix to BGP origin AS association.</p>
                        <hr>
                        <h4> Timestamp: <span class="label label-primary">{{ stats.latest_ts }}</span> <span class="pull-right">BGP Source: <span class="label label-primary">{{ stats.source }}</span></span></h4>
                    </div>
                    <ul class="list-group">
                    <li class="clearfix lead list-group-item">
                        <span class="label label-default"># {{ stats.num_NotFound }}</span>
                        <span class="pull-right">Not Found</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-success"># {{ stats.num_Valid }}</span>
                        <span class="pull-right">Valid</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-warning"># {{ stats.num_InvalidLength }}</span>
                        <span class="pull-right">Invalid Length</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-danger"># {{ stats.num_InvalidAS }}</span>
                        <span class="pull-right">Invalid AS</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-primary"># {{ stats.num_NotFound + stats.num_Valid + stats.num_InvalidAS + stats.num_InvalidLength }}</span>
                        <span class="pull-right">Total</span>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>All known origins</h3>
                </div>
                <div class="panel-body">
                    <h4>Last 24 hours <span class="pull-right"><span class="label label-primary"># {{ stats.num_NotFound + stats.num_Valid + stats.num_InvalidAS + stats.num_InvalidLength }}</span></span></h4>
                    <div id="linechart_all"></div>
                </div>
            </div></div>
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Origins with ROA</h3>
                </div>
                <div class="panel-body">
                    <h4>Last 24 hours <span class="pull-right"><span class="label label-primary"># {{ stats.num_Valid + stats.num_InvalidAS + stats.num_InvalidLength }}</span></span></h4>
                    <div id="linechart_roa"></div>
                </div>
            </div></div>
        </div>
{% endblock %}
