{% extends "base.html" %}
{% block script %}
    <meta http-equiv="refresh" content="60" >
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
        google.setOnLoadCallback(drawDashCharts);

        function drawDashCharts() {
            var data_all = google.visualization.arrayToDataTable([
                ['Validity', 'Count'],
                ['Valid',           {{ stats.num_Valid }} ],
                ['Invalid Length',  {{ stats.num_InvalidLength }} ],
                ['Invalid AS',      {{ stats.num_InvalidAS }} ],
                ['Not Found',       {{ stats.num_NotFound }} ]
            ]);
            var data_roa = new google.visualization.DataView(data_all);
            data_roa.hideRows([3]); // skip row with NotFound

            var opts_all = {
                legend: 'none',
                enableInteractivity: false,
                slices: {
                    0: { color: '#5cb85c' },
                    1: { color: '#f0ad4e' },
                    2: { color: '#d9534f' },
                    3: { color: '#777', offset: 0.15 }
                },
                is3D: true,
                chartArea:{top: '2%', height:'95%'}
            };
            var opts_roa = {
                legend: 'none',
                enableInteractivity: false,
                slices: {
                    0: { color: '#5cb85c', offset: 0.15 },
                    1: { color: '#f0ad4e' },
                    2: { color: '#d9534f' },
                },
                is3D: true,
                chartArea:{top: '2%', height:'95%'}
            };

            var dc_all = new google.visualization.PieChart(document.getElementById('dChartAll'));
            dc_all.draw(data_all, opts_all);
            var dc_roa = new google.visualization.PieChart(document.getElementById('dChartROA'));
            dc_roa.draw(data_roa, opts_roa);
        }
    </script>
    <style>
        .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
        }
    </style>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>RPKI realtime dashboard</h1>
                        <h4>
                            <span class="pull-left">Timestamp: <span class="label label-primary">{{ stats.latest_dt }}</span></span>
                            <span class="pull-right">BGP Source: <span class="label label-primary">{{ stats.source }}</span></span>
                        </h4>
                        </br>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {{ stats.rel_Valid }}%">
                                <span class="sr-only">Valid</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: {{ stats.rel_InvalidLength }}%">
                                <span class="sr-only">Invalid Length</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: {{ stats.rel_InvalidAS }}%">
                                <span class="sr-only">Invalid AS</span>
                            </div>
                            <div class="text-center">{{stats.rel_Valid + stats.rel_InvalidLength + stats.rel_InvalidAS}}% prefix origins are verifiable by the RPKI</div>
                        </div>
                        <p class="text-primary text-justify lead">
                            This page provides a realtime overview of the latest prefix-to-origin validation results using the RPKI.
                            It covers all IP prefix advertised by the given BGP source and up to the most current timestamp.
                            The progess bar above shows the current state and coverage of the RPKI origin validation, i.e., how many prefix origins are verifiable by a ROA.
                            For more and detailed statistics have look at our <a href="/stats">stats</a> page.
                            To look up the RPKI origin validation result of a certain IP prefix use the search box in the menu bar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            Latest RPKI validation results
                            <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#info">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </button>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="info" class="col-xs-12 alert alert-info collapse" role="alert">
                                <p class="text-justify">
                                    The table and graphs below show the absolute and relative RPKI origin validation results for all currently visible prefix origins.
                                    A verifiable prefix origin has at least one Route Origin Authorization (ROA) for that prefix in the RPKI.
                                    <i>Note</i> that the number of prefix to origin AS relations is likely higher than the number of distinct IP prefixes advertised in the BGP.
                                    Because, a certain IP prefix might be announced by multiple ASes, thus it has several origins.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h4>by the numbers</h4>
                                <ul class="list-group">
                                    <li class="clearfix lead list-group-item">
                                        <span class="label label-success"># {{ stats.num_Valid }}</span>
                                        <span class="pull-right">Valid</span>
                                    </li>
                                    <li class="clearfix lead list-group-item">
                                        <span class="label label-warning"># {{ stats.num_InvalidLength }}</span>
                                        <span class="pull-right">Invalid Length</span>
                                    </li>
                                    <li class="clearfix lead list-group-item">
                                        <span class="label label-danger"># {{ stats.num_InvalidAS }}</span>
                                        <span class="pull-right">Invalid AS</span>
                                    </li>
                                    <li class="clearfix lead list-group-item">
                                        <span class="label label-default"># {{ stats.num_NotFound }}</span>
                                        <span class="pull-right">Not Found</span>
                                    </li>
                                    <li class="clearfix lead list-group-item">
                                        <span class="label label-primary"># {{ stats.num_Total}}</span>
                                        <span class="pull-right">Total</span>
                                    </li>
                                </ul>
                            </div> <!-- div panel body col left -->
                            <div class="col-md-4 col-xs-12">
                                <h4>Advertised prefix origins</h4>
                                <div id="dChartAll" style="height: 280px"></div>
                            </div> <!-- div panel body col middle -->
                            <div class="col-md-4 col-xs-12">
                                <h4>RPKI verifiable origins</h4>
                                <div id="dChartROA" style="height: 280px"></div>
                            </div> <!-- div panel body col right -->
                        </div> <!-- div row-eq-height -->
                    </div> <!-- div panel body -->
                </div> <!-- div panel -->
            </div> <!-- div col stats -->
        </div><!-- div row  -->
{% endblock %}
