{% extends "base.html" %}
{% block script %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ stats.chart_all|tojson }});
        var options = {
            title: 'Overall Validation Results',
            slices: {
                0: { color: '#33a02c' },
                1: { color: '#e31a1c' },
                2: { color: '#ff7f00' },
                3: { color: '#d9d9d9' }
            },
            is3D: true,
            chartArea:{left:0,top:10,width:'100%',height:'100%'}
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_all'));
        chart.draw(data, options);

        var data_val = google.visualization.arrayToDataTable({{ stats.chart_val|tojson }});
        var options_val = {
          title: 'Validation States',
          slices: {
              0: { color: '#33a02c' },
              1: { color: '#e31a1c' },
              2: { color: '#ff7f00' }
          },
          is3D: true,
          chartArea:{left:0,top:10,width:'100%',height:'100%'}
        };
        var chart_val = new google.visualization.PieChart(document.getElementById('piechart_val'));
        chart_val.draw(data_val, options_val);
      }
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-xs-12">
                <p class="lead"> Latest Timestamp <span class="label label-info"> {{ stats.latest_ts }} </span></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-xs-12"><div class="thumbnail">
                <div id="piechart_all"></div>
                <div class="caption">
                    <h2>All known Origins</h2>
                    <h3><span class="label label-info"> {{ stats.sum_all }} </span></h3>
                    <p>bla bla bla bla</p>
                </div>
            </div></div>
            <div class="col-md-6 col-xs-12"><div class="thumbnail">
                <div id="piechart_val"></div>
                <div class="caption">
                    <h2>Origins with ROA </h2><h3><span class="label label-info"> {{ stats.sum_val }} </span></h3>
                    <p>bla bla bla bla</p>
                </div>
            </div></div>
        </div>
{% endblock %}
