{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ stats.chart_all|tojson }});
        var options = {
            title: 'Overall Validation Results',
            slices: {
                0: { color: '#33a02c' },
                1: { color: '#e31a1c'},
                2: { color: '#ff7f00'},
                3: { color: '#d9d9d9' }
            },
            is3D: true
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart_all'));
        chart.draw(data, options);

        var data_val = google.visualization.arrayToDataTable({{ stats.chart_val|tojson }});
        var options_val = {
          title: 'Validation States',
          slices: {
              0: { color: '#33a02c' },
              1: { color: '#e31a1c'},
              2: { color: '#ff7f00'}
          },
          is3D: true,
        };
        var chart_val = new google.visualization.PieChart(document.getElementById('piechart_val'));
        chart_val.draw(data_val, options_val);
      }
    </script>
    <div id="numbers" style="width: 900px; height: 50px;display: flex; justify-content: space-between;">
        <span style="font-weight:bold; margin-right: 10px; margin-left: 10px;"> Latest Timestamp: <span class="badge badge-info"> {{ stats.latest_ts }} </span></span>
        <span style="font-weight:bold; margin-right: 10px; margin-left: 10px;"> # RIB entries: <span class="badge badge-info"> {{ stats.sum_all }} </span></span>
        <span style="font-weight:bold; margin-right: 10px; margin-left: 10px;"> with RPKI: <span class="badge badge-info"> {{ stats.sum_val }} </span></span>
    </div>
    <ul class="thumbnails">
        <li class="span4">
            <div id="piechart_all" style="width: 500px; height: 400px;"></div>
        </li>
        <li class="span4">
            <div id="piechart_val" style="width: 500px; height: 400px;"></div>
        </li>
    </ul>
{% endblock %}
