{% extends "base.html" %}
{% block script %}
    <meta http-equiv="refresh" content="60" >
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"], 'language': 'en'});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var pdata_all = google.visualization.arrayToDataTable({{ stats.table_all|tojson }});
        var pview_roa = new google.visualization.DataView(pdata_all);
        pview_roa.hideRows([3]); // skip row with NotFound

        var ldata_all = new google.visualization.DataTable();
        ldata_all.addColumn('datetime', 'Timestamp');
        ldata_all.addColumn('number', 'Valid');
        ldata_all.addColumn('number', 'Invalid Length');
        ldata_all.addColumn('number', 'Invalid AS');
        ldata_all.addColumn('number', 'Not Found');
        ldata_all_json = {{ stats.stats_all|tojson }}
        $.each(ldata_all_json, function(i,row) {
            ldata_all.addRow([
                (new Date(row.ts*1000)),
                parseInt(row.num_valid),
                parseInt(row.num_invalid_len),
                parseInt(row.num_invalid_as),
                parseInt(row.num_not_found)
            ]);
        });

        var lview_roa = new google.visualization.DataView(ldata_all);
        lview_roa.setColumns([0,1,2,3]); // skip column with NotFound

        var popts_all = {
            legend:{position: 'left'},
            slices: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' },
                3: { color: '#888888' }
            },
            is3D: true,
            chartArea:{left:'5%',top:'5%',width:'90%',height:'95%'}
        };
        var popts_roa = {
            legend:{position: 'left'},
            slices: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' }
            },
            is3D: true,
            chartArea:{left:'5%',top:'5%',width:'90%',height:'95%'}
        };
        var lopts_all = {
            hAxis:{format: 'yy/MM/dd\nHH:mm'},
            series: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' },
                3: { color: '#888888' }
            },
            legend:{position: 'top'},
            chartArea:{left:'15%',top:'10%',width:'80%',height:'70%'}
        };
        var lopts_roa = {
            hAxis:{format: 'yy/MM/dd\nHH:mm'},
            series: {
                0: { color: '#33a02c' },
                1: { color: '#ff7f00' },
                2: { color: '#e31a1c' }
            },
            legend:{position: 'top'},
            chartArea:{left:'15%',top:'10%',width:'80%',height:'70%'}
        };

        var pchart_all = new google.visualization.PieChart(document.getElementById('piechart_all'));
        var pchart_roa = new google.visualization.PieChart(document.getElementById('piechart_roa'));
        var lchart_all = new google.visualization.LineChart(document.getElementById('linechart_all'));
        var lchart_roa = new google.visualization.LineChart(document.getElementById('linechart_roa'));

        pchart_all.draw(pdata_all, popts_all);
        pchart_roa.draw(pview_roa, popts_roa);
        lchart_all.draw(ldata_all, lopts_all);
        lchart_roa.draw(lview_roa, lopts_roa);

      }
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Latest validation results</h3>
                        <h4> <span class="label label-primary">{{ stats.latest_ts }}</span></h4>
                    </div>
                    <ul class="list-group">
                    <li class="clearfix lead list-group-item">
                        <span class="label label-default"># {{ stats.num_not_found }}</span>
                        <span class="pull-right">Not Found</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-success"># {{ stats.num_valid }}</span>
                        <span class="pull-right">Valid</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-warning"># {{ stats.num_invalid_len }}</span>
                        <span class="pull-right">Invalid Length</span>
                    </li>
                    <li class="clearfix lead list-group-item">
                        <span class="label label-danger"># {{ stats.num_invalid_as }}</span>
                        <span class="pull-right">Invalid AS</span>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>All known origins</h3>
                    <h4><span class="label label-primary"># {{ stats.num_not_found + stats.num_valid + stats.num_invalid_as + stats.num_invalid_len }}</span></h4>
                </div>
                <div class="panel-body">
                    <p></p>
                    <h4>Relative validation results</h4>
                    <div id="piechart_all"></div>
                    <h4>Last 24 hours</h4>
                    <div id="linechart_all"></div>
                </div>
            </div></div>
            <div class="col-md-6 col-xs-12"><div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Origins with ROA</h3>
                    <h4><span class="label label-primary"># {{stats.num_valid + stats.num_invalid_as + stats.num_invalid_len }}</span></h4>
                </div>
                <div class="panel-body">
                    <p></p>
                    <h4>Relative validation results</h4>
                    <div id="piechart_roa"></div>
                    <h4>Last 24 hours</h4>
                    <div id="linechart_roa"></div>
                </div>
            </div></div>
        </div>
{% endblock %}
