{% extends "base.html" %}
{% block script %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:["table"]});
        google.setOnLoadCallback(drawTable);

        function drawTable() {
            var data_valid = new google.visualization.DataTable();
            data_valid.addColumn('string', 'Prefix');
            data_valid.addColumn('number', 'Origin AS');
            data_valid.addColumn('string', 'Timestamp');
            data_valid.addRows({{ tables.valid|tojson }});

            var data_invalid_as = new google.visualization.DataTable();
            data_invalid_as.addColumn('string', 'Prefix');
            data_invalid_as.addColumn('number', 'Origin AS');
            data_invalid_as.addColumn('string', 'Timestamp');
            data_invalid_as.addRows({{ tables.invalid_as|tojson }});

            var data_invalid_len = new google.visualization.DataTable();
            data_invalid_len.addColumn('string', 'Prefix');
            data_invalid_len.addColumn('number', 'Origin AS');
            data_invalid_len.addColumn('string', 'Timestamp');
            data_invalid_len.addRows({{ tables.invalid_len|tojson }});

            var table_valid = new google.visualization.Table(document.getElementById('table_valid'));
            var table_invalid_as = new google.visualization.Table(document.getElementById('table_invalid_as'));
            var table_invalid_len = new google.visualization.Table(document.getElementById('table_invalid_len'));

            table_valid.draw(data_valid, {showRowNumber: false, width: '100%', height: '100%'});
            table_invalid_as.draw(data_invalid_as, {showRowNumber: false, width: '100%', height: '100%'});
            table_invalid_len.draw(data_invalid_len, {showRowNumber: false, width: '100%', height: '100%'});
        }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-6 col-xs-12"><div class="thumbnail">
        <div class="caption">
            <h2>Valid</h2>
            <h3><span class="label label-info"> {{ tables.num_valid }} </span></h3>
            <p>bla bla bla bla</p>
        </div>
        <div id="table_valid"></div>
    </div></div>
    <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
        <div class="caption">
            <h2>Invalid AS</h2>
            <h3><span class="label label-info"> {{ tables.num_invalid_as }} </span></h3>
            <p>bla bla bla bla</p>
        </div>
        <div id="table_invalid_as"></div>
        </div>
        <div class="thumbnail">
        <div class="caption">
            <h2>Invalid Length</h2>
            <h3><span class="label label-info"> {{ tables.num_invalid_len }} </span></h3>
            <p>bla bla bla bla</p>
        </div>
        <div id="table_invalid_len"></div>
        </div>
    </div>
    </div>
{% endblock %}
