{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-{{data.color|safe}}">
                <div class="panel-heading">
                    <h3>Overview on {{ data.state }} results</h3>
                    <h4><span class="label label-{{data.color|safe}}"># {{ data.count }} </span></h4>
                </div>
                {{ data.table|safe }}
            </div>
        </div>
    </div>
{% endblock %}
