[Unit]
Description=RPKI READ backend
After=network.target

[Service]
Type=simple
ExecStart=</path/to/rpki-read>/src/run_backend.sh

[Install]
WantedBy=multi-user.target
